<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="bodyHeader"
     class="sticky top-0 z-50 w-full backdrop-blur bg-white/70 shadow-sm">

    <div class="max-w-5xl mx-auto flex items-center justify-between px-6 py-4">
        <!-- Title -->
        <a href="/" th:href="@{/board/list}" class="select-none custom-href">
            <h1 class="text-2xl lg:text-3xl font-bold">
                Bulletin Board
            </h1>
        </a>

        <!-- Auth buttons -->
        <div class="flex items-center gap-3">
            <!-- 비로그인 상태 -->
            <div th:if="${session.loginMember == null}" class="flex gap-3">
                <a th:href="@{/member/signup}" class="btn btn-primary btn-sm rounded-xl shadow"
                   role="button" th:text="#{label.member.signup}">회원가입</a>
                <a th:href="@{/member/login}" class="btn btn-outline-primary btn-sm rounded-xl"
                   role="button" th:text="#{label.member.login}">로그인</a>
            </div>
            <!-- 로그인 상태 -->
            <div th:if="${session.loginMember != null}" class="flex gap-3">
                <form th:action="@{/member/logout}" method="post">
                    <button type="submit" class="btn btn-outline-primary btn-sm rounded-xl"
                            th:text="#{label.member.logout}">로그아웃</button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>