<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="pagination(totalPages)" class="mt-auto w-full bg-white shadow-inner py-4"
     th:with="
    curPage=${param.page != null ? T(java.lang.Integer).parseInt(param.page[0]) : 1},
    blockSize=10,
    totalPages=${totalPages},
    startPage=${((curPage - 1) / blockSize) * blockSize + 1},
    endPage=${T(java.lang.Integer).min(startPage + blockSize - 1, totalPages)}">
<div class="max-w-4xl mx-auto px-4">
        <ul class="inline-flex space-x-2 justify-center w-full no-underline">

            <li th:if="${startPage > blockSize}">
                <a th:href="@{/board/list(page=${startPage - blockSize})}"
                   class="px-3 py-1 custom-href">&laquo;</a>
            </li>
            <li th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${pageNum == curPage} ? 'font-bold' : _">
                <a th:href="@{/board/list(page=${pageNum})}"
                   th:text="${pageNum}"
                   class="px-3 py-1 custom-href">1</a>
            </li>
            <li th:if="${endPage < totalPages}">
                <a th:href="@{/board/list(page=${startPage + blockSize})}"
                   class="px-3 py-1 custom-href">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
</html>