<!-- viewNoteForm.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      th:replace="~{layout/layoutMain :: common_body(~{::body})}">
<body>
<div class="flex-grow py-8">
  <div class="max-w-3xl mx-auto px-4 bg-white">
    <div class="py-6 border-b">
      <h2 th:text="${note.title}" class="text-3xl font-semibold">제목</h2>
    </div>
    <div class="flex items-center text-gray-600 py-4 border-b space-x-4">
      <span th:text="${note.author}">작성자</span>
      <span th:text="'조회수: ' + ${note.viewCount}">조회수: 0</span>
      <span th:text="'[' + ${note.categoryName} + ']'">카테고리</span>
      <span th:text="${#temporals.format(note.createdAt, 'yy/MM/dd HH:mm')}">
          25/06/29 18:29
        </span>

      <div th:if="${session.loginMember != null and session.loginMember.name.equals(note.author)}">
        <a th:href="@{/note/edit/{id}(id=${note.id})}" class="btn btn-outline-primary btn-sm rounded-xl"
           role="button" th:text="#{label.correction}">수정</a>
        <form th:action="@{/note/delete/{id}(id=${note.id})}" method="post" style="display:inline;">
          <input type="hidden" name="_method" value="delete"/>
          <button type="submit" class="btn btn-outline-primary btn-sm rounded-xl"
                  th:text="#{label.remove}">삭제</button>
        </form>
      </div>
    </div>
    <div class="prose py-6 whitespace-pre-line border-b border-gray-200">
      <div th:utext="${note.contents}">내용</div>
    </div>
    <div th:replace="~{fragments/comment :: commentSection}" class="pt-4 border-t"></div>
  </div>
</div>
</body>
</html>
